
import packageData from '../package.json'

var appsettings = {
    appTitle: packageData.name,
    appVersion: packageData.version,
    maintainerName: 'Your Name Here',
};

export default appsettings;
